<div class="container">

  <h1 class="portfolio-headings">Projects</h1>

  <div class="row pad-row">
    <div class="col-md-6 pad-top">
      <h5>FitazFK Website</h5>
      <p>This web app was the major project for Coder Academy's Diploma of IT. This app was a group project completed in 3 weeks, using ReactJS for the front end, NodeJS for the backend and MongoDB for our database.  The app includes a class booking system, in which an admin has ful CRUD of classes that users can book in to.  <a href="https://fitazfk-project.netlify.com" target="_blank">Link to hosted site</a></p>
    </div>
    <div class="col-md-6" align="center">
      <%= image_tag("fitazfk-logo.png", :class=> "img-circular", :alt => "FitazFK logo") %>
    </div>
  </div>

    <div class="row pad-row">
      <div class="col-md-6" align="center">
        <%= image_tag("portfolio-screenshot.png", :class=> "img-circular", :alt => "Screenshot of portfolio website") %>
      </div>
      <div class="col-md-6 pad-top">
        <h5>Ruby on Rails portfolio</h5>
        <p>The website you are currently viewing - this was created with Ruby on Rails, HTML and CSS, with modified Bootstrap framework.  <a href="https://github.com/calebharnell/portfolio-project" target="_blank">Link to code on GitHub</a></p>
      </div>
    </div>

    <h1 class="portfolio-headings" id="skills">Skills</h1>

    <div class="row pad-row" align="center">
      <div class="col-md-4 space-below">
        <%= image_tag("html-logo.png", :alt => "HTML Icon", :height => "100px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("css-logo.png", :alt => "CSS Icon", :height => "100px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("js-logo.png", :alt => "JavaScript Icon", :height => "100px") %>
      </div>
    </div>

    <div class="row pad-row" align="center">
      <div class="col-md-4 space-below">
        <%= image_tag("node-js-logo.png", :alt => "NodeJS Icon", :height => "100px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("react-js-logo.png", :alt => "ReactJS Icon", :height => "60px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("mongo-db-logo.png", :alt => "MongoDB Icon", :height => "70px") %>
      </div>

    </div>

    <div class="row pad-row" align="center">
      <div class="col-md-4 space-below">
        <%= image_tag("ruby-logo.png", :alt => "Ruby Icon", :height => "90px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("rails-logo.png", :alt => "Rails Icon", :height => "70px") %>
      </div>
      <div class="col-md-4 space-below">
      </div>
    </div>

  </div>
