<div class="container">

  <h1 class="portfolio-headings">Projects</h1>

  <div class="row pad-row">
    <div class="col-md-6" align="center">
      <%= image_tag("project-1.png", :class=> "img-circular", :alt => "project-1") %>
    </div>
    <div class="col-md-6">
      <h5>Project 1</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quisquam delectus, quae maxime recusandae alias, blanditiis ipsa nobis ipsum, repudiandae ducimus earum? Iste numquam libero cum enim hic praesentium cupiditate!</p>
      </div>
    </div>

    <div class="row pad-row">
      <div class="col-md-6" align="right">
        <h5>Project 2</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi saepe sequi eveniet libero, molestias doloremque reprehenderit incidunt provident, expedita quae eius, voluptatibus soluta, ea iusto vitae quidem rerum necessitatibus adipisci incidunt
          provident, expedita quae eius, voluptatibus soluta, ea iusto vitae quidem rerum necessitatibus adipisci.</p>
      </div>
      <div class="col-md-6" align="center">
        <%= image_tag("project-1.png", :class=> "img-circular", :alt => "project-1") %>
      </div>
    </div>

    <h1 class="portfolio-headings" id="skills">Skills</h1>

    <div class="row pad-row" align="center">
      <div class="col-md-4">
        <%= image_tag("html-logo.png", :alt => "html", :height => "100px") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("css-logo.png", :alt => "css", :height => "100px") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("js-logo.png", :alt => "js", :height => "100px") %>
      </div>
    </div>

    <div class="row pad-row" align="center">
      <div class="col-md-4">
        <%= image_tag("node-js-logo.png", :alt => "node-js", :height => "100px") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("react-js-logo.png", :alt => "react-js", :height => "60px") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("angular-js-logo.png", :alt => "angular-js", :height => "60px") %>
      </div>
    </div>

    <div class="row pad-row" align="center">
      <div class="col-md-4">
        <%= image_tag("ruby-logo.png", :alt => "ruby", :height => "90px") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("rails-logo.png", :alt => "rails", :height => "70px") %>
      </div>
      <div class="col-md-4">
        <%= image_tag("mongo-db-logo.png", :alt => "mongo-db", :height => "70px") %>
      </div>
    </div>

  </div>
