<div class="container">

  <h1 class="portfolio-headings">Projects</h1>

  <div class="row pad-row">
    <div class="col-md-6" align="center">
      <%= image_tag("playlist-app.png", :class=> "img-circular", :alt => "Screenshot of Playlist Generator App") %>
    </div>
    <div class="col-md-6 pad-top">
      <h5>PLAYGEN - Playlist Generator App</h5>
      <p>My first attempt at an app, created in week 2 of the course in conjunction with <a href="https://github.com/DeadFred121" target="_blank">Fred Cliff</a>.  PLAYGEN is a ruby terminal app that allows a user to add, delete and show songs in their playlist that they have created, and also has features to find song lyrics and artist information with the help of Ruby gems.  <a href="https://github.com/calebharnell/Playlist-App" target="_blank">Link to GitHub</a></p>
      </div>
    </div>

    <div class="row pad-row">
      <div class="col-md-6" align="right">
        <h5>Cocktails App</h5>
        <p>This cocktails app is a collaborative project between a group of CoderAcademy students that wanted an extra-curricular project to contribute to outside of class.  This is also a Ruby terminal app at this stage and will provide the user with a list of cocktails that can be made with the specific alcohols that you enter/ have on hand, including recipes for those cocktails.  Contributors - <a href="https://github.com/prfraser" target="_blank">Philip Fraser</a>, <a href="https://github.com/DeadFred121" target="_blank">Fred Cliff</a>, <a href="https://github.com/FilipMaslovaric" target="_blank">Filip Masolvaric</a> and myself.</p>
      </div>
      <div class="col-md-6" align="center">
        <%= image_tag("cocktail-app.png", :class=> "img-circular", :alt => "Screenshot of Cocktail APp") %>
      </div>
    </div>

    <div class="row pad-row">
      <div class="col-md-6" align="center">
        <%= image_tag("portfolio-screenshot.png", :class=> "img-circular", :alt => "Screenshot of portfolio website") %>
      </div>
      <div class="col-md-6 pad-top">
        <h5>Ruby on Rails portfolio</h5>
        <p>The website you are currently viewing - this was created with Ruby on Rails, HTML and CSS, with modified Bootstrap framework.  <a href="https://github.com/calebharnell/portfolio-project" target="_blank">Link to code on GitHub</a></p>
        </div>
      </div>

    <h1 class="portfolio-headings" id="skills">Skills covered in CoderAcademy's Fast Track*</h1>
    <p class="portfolio-subheadings">* My skill level = undefined</p>

    <div class="row pad-row" align="center">
      <div class="col-md-4 space-below">
        <%= image_tag("html-logo.png", :alt => "HTML Icon", :height => "100px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("css-logo.png", :alt => "CSS Icon", :height => "100px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("js-logo.png", :alt => "JavaScript Icon", :height => "100px") %>
      </div>
    </div>

    <div class="row pad-row" align="center">
      <div class="col-md-4 space-below">
        <%= image_tag("node-js-logo.png", :alt => "NodeJS Icon", :height => "100px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("react-js-logo.png", :alt => "ReactJS Icon", :height => "60px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("angular-js-logo.png", :alt => "AngularJS Icon", :height => "60px") %>
      </div>
    </div>

    <div class="row pad-row" align="center">
      <div class="col-md-4 space-below">
        <%= image_tag("ruby-logo.png", :alt => "Ruby Icon", :height => "90px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("rails-logo.png", :alt => "Rails Icon", :height => "70px") %>
      </div>
      <div class="col-md-4 space-below">
        <%= image_tag("mongo-db-logo.png", :alt => "MongoDB Icon", :height => "70px") %>
      </div>
    </div>

  </div>
